@page "/catalogos"

<link rel="stylesheet" href="./css/open-iconic/font/css/Catalogocss.css" />

<div class="container">
    <div class="card">
        <div class="titulo">
            <h6>Categoria</h6>
        </div>
        <img src="./css/Icon/categorias.png">

        <div class="btn">
            <a href="#">Administrar</a>
        </div>

    </div>
    <div class="card">
        <div class="titulo">
            <h6>Genero</h6>
        </div>
        <img src="./css/Icon/gene.png">
        <div class="btn">
            <a href="#">Administrar</a>
        </div>
    </div>
    <div class="card">
        <div class="titulo">
            <h6>Material</h6>
        </div>
        <img src="./css/Icon/mat.png">
        <div class="btn">
            <a href="#">Administrar</a>
        </div>
    </div>
    <div class="card">
        <div class="titulo">
            <h6>Talla o Medida</h6>
        </div>
        <img src="./css/Icon/medi.png">
        <div class="btn">
            <a href="#">Administrar</a>
        </div>
    </div>

    <div class="card">
        <div class="titulo">
            <h6>Etapas</h6>
        </div>
        <img src="./css/Icon/rota.png">
        <div class="btn">
            <a href="#">Administrar</a>
        </div>
    </div>
</div>