.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}

    .sidebar.close {
        width: 60px;
    }



    .sidebar .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }



        .sidebar .logo-details .logo_name {
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            white-space: nowrap;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }

    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
    }

    .sidebar .nav-links {
        overflow: visible;
        list-style: none;
    }

        .sidebar .nav-links::-webkit-scrollbar {
            display: none;
        }

        .sidebar .nav-links li {
            position: relative;
            list-style: none;
            transition: all 0.4s ease;
        }

            .sidebar .nav-links li:hover {
                background: rgba(255,255,255,0.25);
                color: white;
                border-radius: 8px;
            }


            .sidebar .nav-links li .icon-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

    .sidebar.close .nav-links li .icon-link {
        display: block;
    }

    .sidebar .nav-links li i {
        height: 50px;
        min-width: 60px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-180deg);
    }



    .sidebar.close .nav-links i.arrow {
        display: none;
    }



    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .sidebar .nav-links li a .link_name {
            font-size: 18px;
            font-weight: 400;
            color: #fff;
        }

    .sidebar.close .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li .submenu {
        /* padding: 6px 6px 14px 30px;  */
        margin-top: -10px;
        background: #1d1b31;
        display: none;
    }


    .sidebar .nav-links li.showMenu .submenu {
        display: block;
    }



    .sidebar .nav-links li .submenu a {
        color: #fff;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
        opacity: 0.6;
        transition: all 0.3s ease;
    }

        .sidebar .nav-links li .submenu a:hover {
            opacity: 1;
        }

    .sidebar.close .nav-links li .submenu {
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        transition: 0s;
        opacity: 0;
        display: block;
        pointer-events: none;
    }

    .sidebar.close .nav-links li:hover .submenu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li .submenu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .submenu .link_name {
        font-size: 18px;
        opacity: 1;
        display: block;
    }

    .sidebar ul li.active {
        background-color: rgba(255,255,255,0.25);
        border-radius: 8px;
    }

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
