@inherits LayoutComponentBase

<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<input type="checkbox" id="checkbox">
<header class="header">
    <div class="logo-details">
        <span class="logo_name">Artesanias Marielos</span>
    </div>
    <label for="checkbox">
        <i class='bx bx-menu'></i>
    </label>
    <i class='bx bx-home-heart'></i>

</header>
<div class="body">
    <nav class="side-bar">
        <ul>
            <li class="list active">
                <a href="#">
                    <i class='bx bx-home-heart'></i>
                    <span class="link_name">Inicio</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <i class='bx bx-transfer'></i>
                    <span class="link_name">Movimientos</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <i class='bx bx-dollar'></i>
                    <span class="link_name">Ventas</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <i class='bx bx-cart'></i>
                    <span class="link_name">Compras</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <i class='bx bxs-grid'></i>
                    <span class="link_name">Catálogos</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <i class='bx bx-receipt'></i>
                    <span class="link_name">Reportes</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <i class='bx bx-check-shield'></i>
                    <span class="link_name">Seguridad</span>
                </a>
            </li>
            <li class="list">
                <a href="Catalogos.html">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Configuración</span>
                </a>
            </li>
        </ul>
    </nav>
    <section class="section-1">
    </section>
</div>