<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Artesanias Marielos</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class='bx bx-home-heart'></i>
                <span class="link_name">Inicio</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <i class='bx bx-transfer'></i>
                <span class="link_name">Movimientos</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <i class='bx bx-dollar'></i>
                <span class="link_name">Ventas</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <i class='bx bx-cart'></i>
                <span class="link_name">Compras</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="catalogos">
                <i class='bx bxs-grid'></i>
                <span class="link_name">Catálogos</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <i class='bx bx-receipt'></i>
                <span class="link_name">Reportes</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <i class='bx bx-check-shield'></i>
                <span class="link_name">Seguridad</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <i class='bx bx-cog'></i>
                <span class="link_name">Configuración</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
